@tailwind base;
@tailwind components;
@tailwind utilities;



.navbar-fixed {
    @apply fixed z-[999] bg-white bg-opacity-70 backdrop-blur-sm shadow-lg
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark
}

.skills-list {
    @apply py-1 transition duration-300 flex items-center justify-center gap-2 rounded-lg border hover:border-indigo
}

.col-skills {
    @apply grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 gap-4 w-full py-4
}

.alert-admin-content {
    animation: top-to-bottom 0.5s;
    transition: 0.5s;
}

@keyframes top-to-bottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(200%);
    }
}

.containerDetailPortfolio {
    animation: bottom-to-top-containerDetailPortfolio 0.3s;
    transition: 0.3s;
}

@keyframes bottom-to-top-containerDetailPortfolio {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}